body {
  background-color: #002a32;
}

h1 {
  font-style: italic;
}

.btn {
  width: 3rem;
  height: 3rem;
  left: 90%;
  top: 10%;
  border-radius: 50%;
  border: none;
  background-color: #084955;
  position: relative;
}

.btn-muted {
  border: none;
  background-color: none;
}

.btn_fish {
  left: 40%;
  top: 40%;
  width: 50%;
  height: 50%;
  z-index: 3;
  animation: 2s cubic-bezier(0.2, 0.65, 0.32, 0.95) 2s test;
  border-radius: 25%;
}

.btn_butt {
  left: 40%;
  top: 40%;
  width: 50%;
  height: 50%;
  z-index: 3;
  animation: 2s cubic-bezier(0.2, 0.65, 0.32, 0.95) 2s test;
  border-radius: 25%;
}

.btn_squid {
  left: 40%;
  top: 40%;
  width: 50%;
  height: 50%;
  z-index: 3;
  animation: 2s cubic-bezier(0.2, 0.65, 0.32, 0.95) 2s test;
  border-radius: 25%;
}

@keyframes test {
  0% {
    transform: translateX(20%) translateY(40%) scale(1);
  }

  100% {
    transform: translateX(-50%) translateY(100%) scale(1);
  }
}