<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale = 1.0" />
    <link
      rel="stylesheet"
      href="{{url_for('static', filename='css/main.css')}}"
    />
    <title>AC Critters</title>
    <script src="https://unpkg.com/preact@10.11.1"></script>
    <script src="https://unpkg.com/babel-standalone@6.26.0/babel.js"></script>
  </head>
  <style type="text/css"></style>
  <body>
    <div id="root"></div>
    <script>
      window.React = { createElement: preact.h };
    </script>
    <script type="text/babel">
      const App = () => {
        // const [page, setPage] = preact.useState(<Home />);
        return (
          <preact.Fragment>
            <Navbar title="Collections" />
            <Home />
          </preact.Fragment>
        );
      };

      const Navbar = ({ title }) => (
        <preact.Fragment>
          <nav class="navbar">
            <a onClick={() => console.log("settings")}>
              <img src="{{url_for('static', filename='icons/settings.svg')}}" />
            </a>
            <h1>{title}</h1>
            <a onClick={() => console.log("critters")}>
              <img src="{{url_for('static', filename='icons/critters.svg')}}" />
            </a>
          </nav>
          <hr />
        </preact.Fragment>
      );

      const Home = () => (
        <div class="collections">
          <button>Bugs</button>
          <button>Sea Life</button>
          <button>Fish</button>
          <button>Fossils</button>
          <button>Songs</button>
          <button>Art</button>
          <button>Gyroids</button>
        </div>
      );

      const Settings = () => (
        <div class="collections">
          <button>Hemisphere</button>
          <hr />
          <button>Language</button>
          <button>Theme</button>
        </div>
      );

      const Critters = () => (
        <div class="collections">
          <button>Giant Snakehead</button>
          <button>Saddled Birchir</button>
        </div>
      );

      preact.render(<App />, document.getElementById("root")); // Where the app starts
    </script>
  </body>
</html>
